.left-column-container {
  width: 27%;
  border-right: solid lightgray 1px
}

.center-column-container {
  width: 46%;
}

.right-column-container {
  width: 27%;
  background-color: yellow;
  border-left: solid lightgray 1px
}