.left-column-container {
  width: 27%;
  background-color: blue;
  border-right: solid black 1px
}

.center-column-container {
  width: 46%;
  background-color: green;
}

.right-column-container {
  width: 27%;
  background-color: yellow;
  border-left: solid black 1px
}