.left-news-card-container {
  border-bottom: 1px solid LightGray;
  width: 90%
}

.left-news-card-container img {
  width: 100%;
  height: auto;
}

.left-news-card-container a {
  text-decoration: none;
  color: black;
  text-align: left;
}

.left-news-card-container p {
  color: red;
  text-align: left;
}

.center-news-card-container {
  border-bottom: 1px solid LightGray;
  width: 90%;
  margin: auto;
}

.center-news-card-container img {
  width: 100%;
  height: auto;
}

.center-news-card-container a {
  text-decoration: none;
  color: black;
}

.center-news-card-container p {
  color: red;
}

.right-news-card-container {
  border-bottom: 1px solid LightGray;
  width: 90%;
  margin: auto;
  text-align: left;
}

.right-news-card-container p {
  color: red;
  font-size: 13px;
}

.right-news-card-container a {
  text-decoration: none;
  color: black;
}