.navbar-container {
  margin: auto;
  background-color: white;
  height: 160px;
  border-bottom: 1px solid gray
}
.navbar-title {
  margin: auto;
  text-align: center;
  padding: 10px;
  width: 247px;
  height: 56px;
}

.navbar-links {
  font-size: 20px;
  margin: auto;
  text-align: center;
  padding-top: 50px
}

.navbar-links a {
  padding: 20px;
  color: black;
  text-decoration: none;
}
